:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }